@charset "utf-8";
/* CSS Document */


.collection{
	
}
.collection .list{
	padding:1.75rem 1rem 2rem;
	border-bottom:1px solid #f3f5f7;
	position:relative;
	background-color:#fff;
}
.collection .list:last-child{
	border-bottom:0;
}
.collection .list > a{
	float:left;
	display:block;
	position:relative;
	margin-left:0.75rem;
}
.collection .list > a img{
	width:5.875rem;
	height:5.875rem;
	display:block;
}

/*.collection .list > a .soldOut {
	position:absolute;
	left:20%;
	top:20%;
	width:60%;
	height:60%;
    background-image: url(../images/ico_soldOut.png);
	background-size:100%;
}
.collection .list > a .notSell {
	position:absolute;
	left:20%;
	top:20%;
	width:60%;
	height:60%;
    background-image: url(../images/ico_notSell.png);
	background-size:100%;
}*/

.collection .list .colRight{
	padding-left:8rem;
	width:auto;
	padding-right:.75rem;
}
.collection .list .name {
    display: block;
    font-size:1.4rem;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.collection .list .price{
	font-size:1.4rem;
	margin-top:.5rem;
}
.collection .list .col-icon{
	width: 2rem;
    height: 2rem;
    background: url(../images/collect-2.png) no-repeat;
    background-size: 100%;
    display: block;
	position:absolute;
	right:1rem;
	bottom:2rem;
	margin:0;
}
.collection .list .col-icon.cancel-btn{
	background: url(../images/collect-1.png) no-repeat;
    background-size: 100%;
}