@charset "utf-8";
/* CSS Document */
.fl{float: left;}
.fr{float: right;}

.box{width:100%;overflow-y:auto;}

.address{width:100%;padding:1rem 1.2rem;background:#fff url(../images/jiesuan/arrow.png) no-repeat 96% center;border-bottom: 1px solid #f3f5f7;background-size:2%;}
.address p{width:100%;font-size: 1.4rem;color:#000;padding-right:2rem;display: inline-block;}
.address p.ts{margin-top:0rem;color:#666;font-size: 1.4rem;}
.address p em{}
.address p i{}

.add_address{width:100%;padding:1.6rem 1.2rem;background:#fff url(../images/jiesuan/arrow.png) no-repeat 96% center;border-bottom: 1px solid #f3f5f7;background-size:2%;}
.add_address p{color:#000;font-size: 1.4rem;background:url(../images/jiesuan/add.png) no-repeat left center;text-indent:1.2rem;background-size:11%;display: inline-block;}

.goods_list{width:100%;background: #fff;/*padding:0.5rem 0;*/}
.goods_list dt{width:100%;height:3rem;line-height: 3rem;text-indent: 1.2rem;font-size: 1.4rem;color:#222;background: #f8fbfe;}
.goods_list dd{width:100%;padding:1rem 1.2rem;overflow: hidden;}
.goods_list dd .goods_img{display: inline-block;width:8rem;height:8rem;overflow: hidden;float: left;margin-right:1.2rem;}
.goods_list dd .goods_img img{width:100%;height:100%;}
.goods_info{display: flex;position: relative;}
.goods_info a{display: inline-block;width:75%;font-size: 1.4rem;color:#666;display:-webkit-box;/*-webkit-box-orient: vertical;*/-webkit-box-orient:block-axis;text-overflow: ellipsis;overflow: hidden;-webkit-line-clamp:2;}
.goods_info em{display: inline-block;position: absolute;left:0;top:4rem;font-size: 1.2rem;color:#999;}
.goods_info cite{display: inline-block;position: absolute;right:0;top:0;color:#dd1732;font-style: normal;font-size: 1.4rem;}
.goods_info i{display: inline-block;position: absolute;right:0;top:2.5rem;color:#222;font-size: 1.4rem;}

.benefit_list{width:100%;padding:0 1.2rem;background: #fff;overflow: hidden;}
.benefit_list li{width:100%;overflow:hidden;border-top:1px solid #eee;padding:1rem 0;}
.benefit_list li em{display: inline-block;width:30%;font-size: 1.2rem;color:#666;}
.benefit_list li a{display: inline-block;width:60%;text-align: right;color:#222;font-size: 1.2rem;padding-right:1.2rem;background: url(../images/jiesuan/arrow.png) no-repeat right center;background-size:3.5%;}

.jiesuan_info{width:100%;margin-top:0.5rem;border-bottom: 1px solid #eee;background: #fff;overflow:hidden;}
.jiesuan_info dt{width:100%;height:3rem;line-height: 3rem;text-indent: 1.2rem;font-size: 1.4rem;color:#222;background: #f8fbfe;}
.jiesuan_info dd{width: 100%;overflow: hidden;padding:0.8rem 1.2rem;}
.jiesuan_info dd em{display:inline-block;font-size: 1.2rem;color:#666;}
.jiesuan_info dd cite{font-style: normal;display: inline-block;font-size: 1.2rem;color:#222;}
.all_price{width:100%;padding:1rem 1.2rem;margin-bottom:0.5rem;background: #fff;text-align: right;font-size: 1.5rem;overflow: hidden;}
.all_price i{color:#dd1732;font-size: 1.6rem;}
.all_price span{color:#DD1732;font-size: 1.6rem;}

.jiesuan_fix{width:100%;/*height:5rem;*/position: fixed;bottom: 0;background: #fff;border-top: 1px solid #eee;text-align: center;}
.jiesuan_fix a{display: inline-block;border:1px solid #999;font-size: 1.4rem;padding:0.5rem 1.6rem 0.4rem 1.6rem;border-radius: 0.25rem;color:#222;/*margin-right:1.2rem;*/margin:1rem 1.2rem 1rem 0;}
.jiesuan_fix a.red{background: #e42b2b;color: #fff;border-color: #E42B2B;}
.jiesuan_fix .see_order{width:40%;display: inline-block;border:1px solid #999;font-size:1.4rem;height:3rem;text-align: center;line-height:3rem;border-radius: 0.25rem;color:#222;float: right;margin-top:1rem;float: left;margin-left:5%;}
.jiesuan_fix .pay_again{width:40%;display: inline-block;border:1px solid #e42b2b;font-size:1.4rem;height:3rem;text-align: center;line-height:3rem;border-radius: 0.25rem;background: #e42b2b;color:#fff;float: right;margin-top:1rem;float: right;margin-right:5%;}
.jiesuan_fix .go_index{width:40%;display: inline-block;border:1px solid #e42b2b;font-size:1.4rem;height:3rem;text-align: center;line-height:3rem;border-radius: 0.25rem;background: #e42b2b;color:#fff;float: right;margin-top:1rem;float: right;margin-right:5%;}


/* 优惠促销  */
.benefit_list2{width:100%;overflow: hidden;margin:0 auto;}
.benefit_list2 .tit{width:100%;margin:0 auto;height: 3rem;line-height:3rem;text-indent:1.2rem;font-size:1.4rem;color:#222;background:#f8fbfe;}
.benefit_list2 ul{width:100%;padding:0 1.2rem 1.2rem 1.2rem;overflow:hidden;background: #fff;margin:0 auto;}
.benefit_list2 ul li{width:23%;height:23%;float:left;margin-right:2.6%;margin-top:1.2rem;}
.benefit_list2 ul li.ts{margin-right:0;}
.benefit_list2 ul li img{width:100%;height:100%;}
.benefit_choose_area{width:100%;background:#fff;overflow: hidden;padding:0 1.2rem;}
.benefit_choose_area li{width:100%;border-top:1px solid #eee;overflow: hidden;padding:1rem 0;}
.benefit_choose_area li label{width:100%;display: table;}
.benefit_choose_area li input.benefit_btn{width:1.4rem;height:1.4rem;background: url(../images/jiesuan/benefit_choose.png) no-repeat center center;background-size:100%;float: left;margin-right:0.5rem;}
.benefit_choose_area li input:checked{background: url(../images/jiesuan/benefit_choosed.png) no-repeat center center;background-size:100%;}
/*.benefit_choose_area li input.benefited_btn{background: url(../images/jiesuan/benefit_choosed.png) no-repeat center center;background-size:100%;}*/
.benefit_choose_area li em{display: inline-block;float: left;font-size: 1.4rem;color:#666;}
.jiesuan_fix .sure{width:70%;display: inline-block;border:1px solid #999;font-size: 1.4rem;padding:0.5rem 1.6rem 0.4rem 1.6rem;border-radius: 0.25rem;color:#222;/*margin-right:1.2rem;*/margin:1rem auto 1rem auto;}

/* 快递  */
.benefit_courier{width:100%;background:#fff;overflow: hidden;padding:0 1.2rem;border-bottom:1px solid #eee;}
.benefit_courier li{width:100%;overflow: hidden;padding:1rem 0;}
.benefit_courier li label{width:100%;display: table;}
.benefit_courier li input.benefit_btn{width:1.4rem;height:1.4rem;background: url(../images/jiesuan/benefit_choose.png) no-repeat center center;background-size:100%;float: left;margin-right:0.5rem;}
.benefit_courier li input:checked{background: url(../images/jiesuan/benefit_choosed.png) no-repeat center center;background-size:100%;}
/*.benefit_choose_area li input.benefited_btn{background: url(../images/jiesuan/benefit_choosed.png) no-repeat center center;background-size:100%;}*/
.benefit_courier li em{display: inline-block;float: left;font-size: 1.4rem;color:#666;}

/*　收获地址　*/
.jiesuan_address{width:100%;padding:0 1.2rem;overflow: hidden;}
.jiesuan_address li{width:100%;margin:1rem 0;width:100%;padding:1.2rem 1.2rem;background:#fff;border-bottom: 1px solid #f3f5f7;background-size:2%;}
.jiesuan_address li p{width:100%;font-size: 1.4rem;color:#000;display: inline-block;}
.jiesuan_address li p.ts{margin-top:0rem;color:#666;font-size: 1.4rem;border-bottom: 1px solid #eee;padding-bottom:1rem;}
.jiesuan_address li p label{display: inline-block;float: left;margin-top:1rem;}
.jiesuan_address li p label input{width:2rem;height:2rem;background:#fff url(../images/shopping_trolley/choose.png) no-repeat center center;background-size: 100% 100%;margin-right:0.5rem;float: left;float: left;}
.jiesuan_address li p label input:checked{background:#fff url(../images/shopping_trolley/choosed.png) no-repeat center center;background-size: 100% 100%;}
.jiesuan_address li p label em{display: inline-block;float: left;margin-top: 0.2rem;}
.jiesuan_address li p .delete{width:4.6rem;height:2rem;line-height:2rem;background: url(../images/shopping_trolley/delete.png) no-repeat left center;background-size: 40%;display:inline-block;float: right;margin-top:1rem;text-align: right;color:#555;}
.jiesuan_address li p .edit{width:4.6rem;height:2rem;line-height:2rem;background:url(../images/jiesuan/revise.png) no-repeat left center;background-size:40%;display: inline-block;float: right;margin-top:1rem;text-align: right;margin-right:1.2rem;color:#555;}
.add_address_btn{width:93%;margin:0 3.5%;border:1px solid #555;display: inline-block;height:3.6rem;line-height: 3.6rem;text-align: center;font-size: 1.4rem;color:#222;border-radius: 0.25rem;}

/* 收货地址-空  */
.address_null{width:100%;position: fixed;top:22%;}
.address_null img{display: table;margin:0 auto;width:30%;}
.address_null_sign{width:100%;text-align: center;font-size:1.5rem;color:#666;position: fixed;top:45%;}
.add_address_btn2{width:40%;border:1px solid #555;border-radius: 0.25rem;margin:0 auto;display: inline-block;position: fixed;top:51%;left:30%;height:3rem;line-height: 3rem;text-align: center;}

/* 新增收货地址选择  */
.jiesuan_address_choose{width:100%;/*padding:0 1.2rem;*/overflow: hidden;}
.jiesuan_address_choose li{width:100%;margin:1rem 0;width:100%;padding:1.2rem 1.2rem;background:#fff;border-bottom: 1px solid #f3f5f7;background-size:2%;position: relative;overflow: hidden;}
.jiesuan_address_choose li p{width:90%;font-size: 1.4rem;color:#000;display: inline-block;float: right;}
.jiesuan_address_choose li p.ts{margin-top:0rem;color:#666;font-size: 1.4rem;border-bottom: 1px solid #eee;padding-bottom:1rem;}
.jiesuan_address_choose li label{display:inline-block;width:100%;position: absolute;left:0;top:0;padding:3.8rem 1.2rem;z-index: 11;}
.jiesuan_address_choose li label input{width:2rem;height:2rem;background:#fff url(../images/jiesuan/benefit_choose.png) no-repeat center center;background-size: 100% 100%;margin-right:0.5rem;float: left;}
.jiesuan_address_choose li label input:checked{background:#fff url(../images/jiesuan/benefit_choosed.png) no-repeat center center;background-size: 100% 100%;}
.jiesuan_address_choose li label em{display: inline-block;float: left;margin-top: 0.2rem;}
.jiesuan_address_choose li p .delete{width:5rem;height:2rem;line-height:2rem;background: url(../images/shopping_trolley/delete.png) no-repeat left center;background-size: 40%;display:inline-block;float: right;margin-top:1rem;text-align: right;color:#555;position: relative;z-index: 12;}
.jiesuan_address_choose li p .edit{width:5rem;height:2rem;line-height:2rem;background:url(../images/jiesuan/revise.png) no-repeat left center;background-size:40%;display: inline-block;float: right;margin-top:1rem;text-align: right;margin-right:1.2rem;color:#555;position: relative;z-index: 12;}

/* 优惠券-空  */
.coupon_null{width:100%;position: fixed;top:22%;}
.coupon_null img{display: table;margin:0 auto;width:30%;}
.coupon_null_sign{width:100%;text-align: center;font-size:1.5rem;color:#666;position: fixed;top:45%;}

/* 优惠券 */
.coupon_list{width:100%;overflow:hidden;margin:0 auto;background: #fff;}
.coupon_list li{width:100%;margin:1rem 0;background:url(../images/jiesuan/coupon_bg1.png) no-repeat center center;background-size:100% 100%;height:9rem;padding:0 3%;position: relative;}
.coupon_price{width:38%;float: left;}
.coupon_price p{text-align: center;}
.coupon_price p.p1{color:#dd1732;font-size: 1.8rem;margin-top:1.6rem;}
.coupon_price p.p1 span{font-size:2.5rem;font-weight: bold;}
.coupon_price p.p2{font-size: 1.2rem;color:#666;margin-top:0.5rem;}

.coupon_info{width:62%;float: right;}
.coupon_info p{text-align:left;text-indent: 10%;}
.coupon_info p.p1{color:#222;font-size: 1.4rem;margin-top:1.6rem;}
.coupon_info p.p2{color:#666;font-size: 1.2rem;margin-top:0.3rem;}
.coupon_info p.p3{color:#666;font-size: 1.4rem;margin-top:0.8rem;}

.coupon_list li label{width:100%;height:100%;padding:0 3%;position: absolute;left:0;top:0;z-index: 11;}
.coupon_list li label .coupon_btn{width:2rem;height:2rem;/*background:url(../images/jiesuan/choose.png) no-repeat center center*/;background-size: 100% 100%;position: absolute;right:5%;bottom:6%;z-index: 12;}
.coupon_list li label .coupon_btn:checked{background:url(../images/jiesuan/choosed.png) no-repeat center center;background-size: 100% 100%;}
.coupon_no_use{width:100%;height:4rem;background:#fff;padding:0 3%;}
.coupon_no_use label{width:100%;height:4rem;line-height: 4rem;display: table;color:#666;font-size: 1.4rem;}
.coupon_no_use label .coupon_btn{width:2rem;height:2rem;background:url(../images/jiesuan/choose.png) no-repeat center center;background-size: 100% 100%;float:left;margin-right:0.5rem;margin-top:1rem;}
.coupon_no_use label .coupon_btn:checked{background:url(../images/jiesuan/choosed.png) no-repeat center center;background-size: 100% 100%;}

/* 订单提交失败弹窗  */
.order_tc_bg{width:100%;height:100%;position: fixed;left:0;top:0;background: #000;opacity: 0.4;z-index: 11;display: none;}
.order_tc{position: fixed;width:66%;left:17%;top:30%;background:#fff;z-index: 12;border-radius: 0.25rem;display: none;}
.order_tc dt{width:100%;background: url(../images/jiesuan/order_fail_img.png) no-repeat center center;text-align: center;height:10rem;background-size:20%;line-height: 19rem;font-size: 1.4rem;}
.order_tc dd{width:100%;padding:0 10%;color:#666;font-size:1.2rem;margin-top:1rem;}
.sure_btn{width:100%;height:3.6rem;line-height:3.6rem;text-align: center;display: inline-block;font-size: 1.4rem;color:#dd1732;border-top:1px solid #eee;margin-top:1rem;}

/* 订单支付失败和成功 */
.pay{width:100%;position: fixed;top:22%;}
.pay img{display: table;margin:0 auto;width:20%;}
.pay_sign{width:100%;text-align: center;font-size:1.5rem;color:#666;margin-top:2rem;display: inline-block;text-align: center;}
.pay p{width:100%;text-align: center;margin-top:2rem;}
.pay p a{display:table;width:40%;border:1px solid #555;font-size: 1.4rem;color:#555;border-radius: 0.25rem;text-align: center;margin:0 auto;margin-top:1.5rem;height:3rem;line-height:3rem;}
.pay p a.red{background:#dd1732;color:#fff;border-color: #DD1732;}


/* 优惠活动-空  */
.benefit_null{width:100%;position: fixed;top:22%;}
.benefit_null img{display: table;margin:0 auto;width:30%;}
.benefit_null_sign{width:100%;text-align: center;font-size:1.5rem;color:#666;position: fixed;top:45%;}


.jiesuan_fix a.dis{background: #989696;color: #fff;border-color: gray;}











