body {
	font-size: 14px;
}

ul {
	list-style-type:none;
}

li {
	display: inline-block;
	line-height: 1.2rem;
	padding: 1rem 2rem;
	background-color: #884809;
	border-right: 1px solid wheat;
	color: white;
}

footer {
	display: flex;
}