@charset "utf-8";
/* CSS Document */

.selectArea {
	margin:0 1rem;
}
.ad-list {
    background: #fff;
    position: relative;
	padding:1rem 0 .5rem;
	margin-top:.7rem;
}
.name{
	color:#000;
	font-size:1.5rem;
	line-height:2.625rem;
	padding-left:1rem;
}
.mobNum{
	float:right;
	color:#000;
	font-size:1.5rem;
	line-height:2.625rem;
	padding-right:1rem;
}
.addr{
	color:#666;
	font-size:1.4rem;
	line-height:1.8rem;
	padding-bottom:1rem;
	padding:.5rem 1rem;
}
.selectArea .ad-list .toolsArea {
    clear: both;
    text-align: right;
    border-top: 1px solid #eee;
    margin:.5rem;
    padding:1rem .5rem;
}
.ad-list .toolsArea > span {
    position: relative;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
	color:#555;
    line-height:1.5rem;
    font-size:1.4rem;
    margin-left:1.5rem;
}
.ad-list .toolsArea > span em {
	vertical-align:bottom;
	margin-right:.2rem;
}
.ad-list .toolsArea > span.pen em {
    width:1.5rem;
    height:1.5rem;
    background: url(../images/cart_pen.png) no-repeat;
    background-size:100%;
    display: inline-block;
}
.ad-list .toolsArea > span.del em {
    width:1.5rem;
    height:1.5rem;
    background: url(../images/cart_del.png) no-repeat;
    background-size:100%;
    display: inline-block;
}
.ad-check{
	float:left;
	font-size:1.4rem;
	color:#000;
}
.ad-check em{
	margin-left:.36rem;
}
.addBtns{
	margin:1rem 0;
}
.addBtns{
	display:block;
	border:1px solid #555;
	color:#222;
	font-size:1.6rem;
	height:3.5rem;
	line-height:3.5rem;
	text-align:center;
	border-radius:2px;
}
.addBtns a{
	display:block;
	font-size:1.6rem;
}

/* checkbox */
.checkboxRed {
    width:1.75rem;
    height: 1.75rem;
    background: #CD0933;
    float: left;
    border-radius: 100%;
    position: relative;
    background: url(../images/checkbox-off.png) no-repeat center;
    background-size: 100% 100%;
    padding: 0;
}
.checkboxRed input {
    background: none;
    width: 1.75rem;
    height: 1.75rem;
    position: relative;
    z-index: 3;
    outline: none;
	border:0;
    /* visibility: hidden; */
}
.checkboxRed label {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.checkboxRed input[type=radio]:checked + label, .checkboxRed input[class=default] + label {
    background: none;
    background: url(../images/checkbox-on.png) no-repeat center;
    background-size: 100% 100%;
}