/*对话框*/
.dialog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    overflow: hidden;
    z-index: 1000;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    visibility: hidden;
    font-size: 1.5rem;
}
.dialog-container.active {
    visibility: visible;
}

.dialog-container.active .dialog {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1)
}
.dialog-container .dialog {
    background-color: white;
    border-radius: .5rem;
    border: 1px solid #d7d7d7;
    margin: auto;
    overflow: hidden;
    min-width: 17.5rem;
    max-width: 80%;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    opacity: 0;
    -webkit-transition: opacity .1s linear,-webkit-transform .2s linear;
    transition: opacity .1s linear,-webkit-transform .2s linear;
    transition: opacity .1s linear,transform .2s linear;
    transition: opacity .1s linear,transform .2s linear,-webkit-transform .2s linear;
}

.dialog-content {
    padding: 3rem 1rem;
    text-align: center;
    color:#222;
}

.dialog-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.625rem;
    border-top: 1px solid #d7d7d7;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.dialog-btns > button {
    display: inline-block;
    height: 100%;
    background-color: white;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: none;
}

.dialog-btns > button:nth-child(1) {
    color:#222;
}

.dialog-btns > button:nth-child(2) {
    color: #e42b2b;
    border-left: 1px solid #d7d7d7;
}

/* 提示层 */
.tips-wrap {
    position:fixed;
    left:0;
    top:85%;
    width:100%;
    text-align:center;
    z-index:1000;
    -webkit-animation-name: down;
    animation-name: down;
    -webkit-animation-duration:.5s;
            animation-duration:.5s;
}
.tips-wrap .text {
    background-color:rgba(0,0,0,.7);
    color:white;
    text-align:center;
    display:inline-block;
    border-radius:5px;
    max-width:80%;
    padding:.5rem 2rem;
}

@-webkit-keyframes down {
    0%{
        opacity:0;
        -webkit-transform:translateY(-100px);
                transform:translateY(-100px);
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0);
                transform:translateY(0);
    }
}

@keyframes down {
    0%{
        opacity:0;
        -webkit-transform:translateY(-100px);
                transform:translateY(-100px);
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0);
                transform:translateY(0);
    }
}
 
