<!DOCTYPE html>
<html>
<head>
	<title>test vue</title>
</head>
<body>
<!--<script src="https://npmcdn.com/vue/dist/vue.js"></script>-->
<script src="vue.1.0.26.js"></script>

<div id="app">
    {{ message }}
    <input v-model="message">
    <button v-on:click="reverseMessage">Reverse Message</button>
    <ul>
	    <li v-for="todo in todos">
	      {{ todo.text }}
	    </li>
	  </ul>
</div>
<script type="text/javascript">
	new Vue({
	    el: '#app',
	    data: {
	        message: 'Hello Vue.js!',
	        todos: [
		      { text: 'Learn JavaScript' },
		      { text: 'Learn Vue.js' },
		      { text: 'Build Something Awesome' }
		    ]
	    },
	     methods: {
	    reverseMessage: function () {
	      this.message = this.message.split('').reverse().join('')
	    }
	  }
	})
</script>
</body>
</html>