html,
body {
    height: 100%;
    font-size: 125% !important;
    font-family:"Helvetica Neue",Helvetica,'microsoft yahei',sans-serif;
}

ul,ol,dl,dd,dt,h1,h2,h3,h4,h5,button{
    padding:0;
    margin:0;
}

button,a,input,select,input:focus{
    outline:0 none;
    -webkit-appearance:none;
}

li{
    list-style:none;
}

body {
    padding: 0;
    margin: 0;
}

a,a:visited,a:hover{
    text-decoration:none;
    color:#333;
}

.clearfix:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    font-size:0;
}

.clearfix {
    zoom: 1;
}