/**/
.content{
  padding: 12px;
}
.content-title{
  font-size: 18px; color: #000;
}
.content-info{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px; color: #a9a9a9;
}
.content-article{
}
.content-article>img{
  width: 100%;
}
.content-article p{
  color: #000;
  font-size: 15px;
  margin: 16px 0;
}

/**/
.content-preview{

}
.content-preview p{  
  font-size: 15px;
  margin: 16px 0;
  color: #666;
}
.content-preview p>span{
  color: #000;
}