body,ul,p {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	background-color: #f5f6f8;
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.flex {
	display: -webkit-flex;
	display: flex;
}

.space-around {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.align-center {
	-webkit-align-items:center;
	align-items: center;
}

.red {
	color: #e42c4c;
}

.gray {
	color: gray;
}

.font26 {
	font-size: 26px;
}

.font22 {
	font-size: 22px;
}

.ellipsis {
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

#app {
	max-width: 640px;
	min-width: 320px;
    margin: 0 auto;
}

.header {
	background-color: #ff6545;
	color: white;
	overflow: hidden;
}

.header .shop-info {
	padding: 10px 0;
}
.header .img-box {
	width: 70px;
	height: 70px;
	margin: 0 20px;
	background-color: white;
	border-radius: 100%;
	overflow: hidden;
}

.header .user-info {
	width: 65%;
	overflow: hidden;
}

.header .shop-name {
	width: 100%;
	height: 25px;
	font-size: 18px;
}

.header .text {
	font-size: 13px;
	color: #f5d3cd;
}
 
.income {
	padding: 10px 0;
}
.income .money::before {
	content: '￥';
	font-size: 22px;
}

.income .half {
	width: 50%;
	text-align: center;
}

.income .half .gray {
	height: 24px;
}

.record {
	padding: 0 15px 15px;
	text-align: center;
	overflow: hidden;
}

.record .m3 {
	width: 33.333%;
}

.record .money::before {
	content: '￥';
	font-size: 18px;
}


.board {
	margin-top: 5px;
	margin-bottom: 65px;
}
.board .flex + .flex {
	border-top: 1px solid #ddd;
}
.board .item {
	position: relative;
	width: 33.333%;
	height: 0;
	padding-bottom: 33.333%;
	background-color: white;
	color: #333;
	text-align: center;
	font-size: 14px;
}

.board .item + .item {
	border-left: 1px solid #ddd;
	box-sizing: border-box;
}

.board .item > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.board .item a {
	display: block;
	width: 100%;
	margin: auto;
}

.board .img-box {
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.img-box img {
	max-width: 100%;
}

.app-foot-bar {
	position: fixed;
    bottom: 0;
    z-index: 9;
    max-width: 640px;
    width: 100%;
    height: 64px;
    background: #fff;
    box-shadow: #dbdbdb 0 -10px 10px -10px;
}

.foot-bar-item {
	display: block;
	width: 20%;
	text-align: center;
	font-size: 13px;
}

.foot-bar-item .icon {
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 auto 5px;
}

 

.foot-bar-item .cart {
	display: block;
	width: 48px;
	height: 48px;
	margin: -24px auto 5px;
	border-radius: 50%;
}
