@import "../../common/common";
@import "../../common/header";
@import "../../common/iconfont";
.empty{
    padding-top:20%;
}
.empty img{
    width:100%;
    margin-bottom:5%;
}
.empty span{
    color:#666;
    font-size:.4rem;
    display:block;
    text-align:center;
}
.empty span.title{
    font-size: .46rem;
    line-height: 1.15rem;
    display: block;
    text-align: center;
}
.empty a.empty_btn{
    width:2rem;
    height:.68rem;
    line-height:.68rem;
    display:block;
    margin:.52rem auto 0;
    color:#801da1;
    border:1px solid #801da1;
    border-radius:3px;
    text-align:center;
}
.noPadTop{
    padding:0;
}
.noPadTop img{
    padding-top:20%;
}

.reload-btn{
    width:3.92rem;
    height:.9rem;
    line-height:.9rem;
    display:block;
    margin:.52rem auto 0;
    color:#801da1;
    border:1px solid #801da1;
    border-radius:20px;
    text-align:center;
    font-size:.38rem;
    &:visited,&:hover{
        color:#801da1;
    }
}
.back-btn{
    width:3.92rem;
    height:.9rem;
    line-height:.9rem;
    display:block;
    margin:.52rem auto 0;
    background-color:#801da1;
    color:#fff;
    border:1px solid #801da1;
    border-radius:20px;
    text-align:center;
    font-size:.38rem;
    &:visited, &:hover{
        color:#FFF;
    }
}
