html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}

i {
	font-style: normal;
}

button {
	outline: none;
}

.container {
	max-width: 640px;
	width: 100%;
	height: 100%;
	background-color: #0d0d0d;
	margin: 0 auto;
	color: white;
}

.title {
	width: 100%;
	height: 45px;
	text-align: center;
	line-height: 45px;
	background-color: #181818;	
}

.time {
	display: flex;
	display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items:center;
	width: 100%;
	height: 40%;
	font-size: 70px;	
}

.time > span {
	display: block;
	min-width: 100px;
	text-align: center;
}

.time span:nth-child(1)::after {
	content: ':';
	padding-left:5px;
	padding-right: 5px;
}

.time span:nth-child(2)::after {
	content: '.';
	padding-left: 5px;
}

.control {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	height: 85px;
	margin: 0 20px;
}


.control button {
	display: block;
	color: white;
	width: 70px;
	height: 70px;
	margin: 5px auto;
	border-radius: 50%;
	border: none;
	font-size: 14px;
}

.reset,
.start {
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 50%;
}
.reset {
	border: 1px solid #181818;
}

.reset.active {
	border: 1px solid #3d3d3d;
}

.start {
	border: 1px solid #1f3421;
}
.start.active {
	border:1px solid #5a2d35;
}

.reset button {
	color: #565252;
	background-color: #181818;
}

.reset.active button {
	color: #dfdfdf;
	background-color: #3d3d3d;
}

.start button {
	color: #77ac78;
	background-color: #1f3421;
}

.start.active button {
	color: red;
	background-color: #5a2d35;
}

.watch-list {
	margin: 20px 20px 0;
	height: 200px;
	list-style-type:none;
	padding-left: 0;
	overflow: auto;
	-webkit-overflow-scrolling:touch;
}

.watch-list li {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #333131;
}

.watch-list li:nth-child(1){
	border-top: 1px solid #333131;
}

.watch-list li i {
	float: right;
}

.watch-list li:nth-last-child(2){
	color: #72bc59;
}

.watch-list li:nth-last-child(1){
	color: #fd455f;
}



