.error-layer {
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .error-panel {
        align-self: baseline;
        padding-top:3rem;
        width: 60%;
        &>img {
            width: 100%;
        }
        p {
            margin: .5rem 0;
            text-align:center;
        }
    }
}