{% extends './layout.html' %}
{% block title %}List{% endblock %} 
{% block css %}
<!-- inject:css -->
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="error-container">
    <div id="error">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="{{hostname}}/hmr/react.js"></script>
<script src="{{hostname}}/hmr/error.js"></script>
<!-- endinject -->
{% endblock %}
