{% extends "./layout.html" %} {% block title %}Detail{% endblock %} {% block css %}
<!-- inject:css -->
<!-- endinject -->
{% endblock %} {% block content %}
<div class="index-container">
    <div id="weather">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %} {% block js %}
<!-- inject:js -->
<script src="{{hostname}}/hmr/react.js"></script>
<script src="{{hostname}}/hmr/index.js"></script>
<!-- endinject -->
{% endblock %}
