/*对话框*/
.dialog-container {
	display: flex;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    overflow: hidden;
    z-index: 200;
    justify-content: center;
    align-items: flex-start;
    visibility: hidden;
}
.dialog-container.active {
    visibility: visible;
}

.dialog-container.active .dialog {
    visibility: visible;
    opacity: 1;
    transform: scale(1)
}
.dialog-container .dialog {
	background-color: white;
    border-radius: .1875rem;
    border: .03125rem solid #d7d7d7;
    margin: auto;
    overflow: hidden;
    min-width: 6.25rem;
    max-width: 80%;
    transform: scale(0.85);
    opacity: 0;
    transition: opacity .1s linear,transform .2s linear;
}

.dialog-content {
	padding: 1.2rem .9375rem;
    text-align: center;
    color:#222;
}

.dialog-btns {
	display: flex;
	line-height: .9375rem;
    border-top: .03125rem solid #d7d7d7;
    align-items: center;
}

.dialog-btns > button {
    display: inline-block;
    background-color: white;
    flex: 1;
    border: none;
}

.dialog-btns > button:nth-child(1) {
    color:#222;
	border-right: .03125rem solid #d7d7d7;
}

.dialog-btns > button:nth-child(2) {
	color: #e42b2b;
    border-right: none;
}

/* 提示层 */
.tips-wrap {
    position:fixed;
    left:0;
    top:85%;
    width:100%;
    text-align:center;
    z-index:100;
    -webkit-animation-name: down;
    animation-name: down;
    animation-duration:.5s;
}
.tips-wrap .text {
    background-color:rgba(0,0,0,.7);
    color:white;
    text-align:center;
    display:inline-block;
    border-radius:5px;
    max-width:80%;
    padding:.4rem .2rem;
}

@-webkit-keyframes down {
    0%{
        opacity:0;
        transform:translateY(-100px);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}
@keyframes down {
    0%{
        opacity:0;
        transform:translateY(-100px);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}
 
