.dialog-container {
	display: flex;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    overflow: hidden;
    z-index: -1;
    justify-content: center;
    align-items: flex-start;
    visibility: hidden;
}
.dialog-container.active {
    visibility: visible;
    z-index: 200;
}

.dialog-container.active .dialog {
    visibility: visible;
    opacity: 1;
    transform: scale(1)
}
.dialog-container .dialog {
	background-color: white;
    border-radius: .1875rem;
    border: .03125rem solid #801da1;
    margin: auto;
    overflow: hidden;
    min-width: 6.25rem;
    max-width: 80%;
    transform: scale(0.85);
    opacity: 0;
    transition: opacity .1s linear,transform .2s linear
}

.dialog-title {
	padding: 0 .9375rem;
    line-height: 1.125rem;
    color: white;
    text-align: center;
    background-color: #801da1;
}

.dialog-content {
	padding: .78125rem .9375rem;
    text-align: center;
}

.dialog-btns {
	display: flex;
	line-height: .9375rem;
    border-top: .03125rem solid #801da1;
    align-items: center;
}

.dialog-btns > button {
    display: block;
    flex: 1;
    background: white;
    border: none;
}

.dialog-btns > button:first-child {
	border-right: .03125rem solid #801da1;
}

.dialog-btns > button:last-child {
	background-color: #d5c0dc;
    border-right: none;
}