{
    "env":{
        "browser":true,
        "node":true,
        "es6":true,
        "mocha":true
    },
    "globals":{
        "sinon":false
    },
    "ecmaFeatures":{
        "blockBindings": true,
        "arrowFunctions":true,
        "classes":true,
        "defaultParams":true,
        "destructuring":true,
        "objectLiteralShorthandMethods":true,
        "objectLiteralShorthandProperties":true,
        "spread":true,
        "restParams":true,
        "superInFunctions":true,
        "templateStrings":true,
        "experimentalObjectRestSpread":true,
        "forOf": true,
        "modules":true,
        "jsx": true
    },
    "extends": "eslint:recommended",
    "rules":{
        "no-console":0,
        "no-unused-vars": [2, { "args": "after-used","varsIgnorePattern":"^[A-Z]" }]
    }
}