
.loading {
    text-align: center;
    display: block;
    color: #565555;
    padding: 0.25rem 0;
    font-size: 0.375rem;
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0,0,0,.75);
}

.mask .content {
  position: relative;
  width: 80%;
  top: 35%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  font-size: .6rem;
  border-radius: .2rem;
  padding: .5rem;
}

.mask .content .close {
  position: absolute;
  right: -.2rem;
  top: -.3rem;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 50%;
}

.mask .content .title {
  padding-top: .8rem;
  text-align: left;
  line-height: .7rem;
}

.mask .content .btn-area {
  width: 90%;
  overflow: hidden;
  margin: .7rem auto;
}

.mask .content .btn-area span {
  display: block;
  width: 3rem;
  height: 1rem;
  line-height: 1rem;
  border-radius: .2rem;
}

.mask .content .btn-area .cancel{
   float: left;
   border: .02rem solid #a6a6a6;
   color: #a6a6a6;
}

.mask .content .btn-area .sure{
  float: right;
  background-color: #e21742;
  color: white;
}

.no-more {
  display: none;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: .4rem;
}

.ercode-wrap {
  position: relative;
  top: 15%;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
  font-size: .6rem;
}

.ercode-wrap .close {
  position: absolute;
  right: .2rem;
  top: 0;
  width: .6rem;
  height: .7rem;
  line-height: .8rem;
  background-color: #e21742;
  color: white;
  text-align: center;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
  font-size: .4rem;
}

.ercode-wrap .img-box {
  width: 95%;
  margin: 0 auto;
  padding-top: .8rem;
}

.ercode-wrap .tip {
  position: relative;
  text-align: center;
  color: white;
  bottom: -1rem;
}

.ercode-wrap .tip i {
  position: relative;
  top: .15rem;
  display: inline-block;
  height: .55rem;
  width: .55rem;
  margin-right: .2rem;
  background:url(../images/top.png);
  background-size: cover;
  transform: rotate(180deg);
}

.spinner-box {
  display: none;
  position: relative;
  overflow: hidden;
}

.spinner-box .wait {
  position:absolute;
  width: 50%;
  height: 1rem;
  right: 0;
  top:0;
  font-size: .4rem;
  line-height: 1rem;
}
.spinner {
  position: relative;
  height: 1rem;
  width: 47%;
}
 
.container1 > div, .container2 > div, .container3 > div {
  width: .1rem;
  height: .1rem;
  background-color: #222;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bounce 1.2s infinite ease-in-out;
  animation: bounce 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .spinner-container {
  position: absolute;
  width: .5rem;
  height: .5rem;
  right: 0;
  top:.25rem;
}
 
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bounce {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}