@import "../../common/common.styl";

.weather-content{
    font-size:.7rem;
    max-width:16rem;
    margin:0 auto;
    background:#FFF;
    border:0.05rem solid #DDD;
    h3{
        line-height:1.6rem;
        padding:0 .4rem;
        background:#EEE;
    }
    .weather-form{
        padding:.4rem .5rem;
        &>input{
            padding:0 .4rem;
            margin:0;
            border:0 none;
            outline:0 none;
            line-height:1.3rem;
            border:0.05rem solid #CCC;
            font-size:.8rem;
            border-radius:.15rem;
        }
        &>button{
            background:#F1F1F1;
            padding:0 .4rem;
            margin:0 0 0 .5rem;
            border:0 none;
            outline:0 none;
            line-height:1.3rem;
            border:0.05rem solid #CCC;
            font-size:.8rem;
            border-radius:.15rem;
        }
        p{
            &>label{
                padding:0 .4rem 0 0;
                color:#999;
            }
        }
    }
}
