.swiper-wrap {
	display: none;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	background-color:black;
	overflow:hidden;
}

.swiper-contner {
	height: 100%;
	overflow: hidden;
}

.swiper-contner .page{
	width: 100%;
	position: absolute;
	top:50%;
	left:0;
	z-index: 2;
	margin-top: -25%;
}

.swiper-contner .page > img{
	width: 100%;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	pointer-events: none;
}

.swiper-header {
    width: 100%;
    height: 1.15rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;
    background-color: white;
}

.swiper-header > .page-limit {
	text-align:center;
	color: #222;
    font-size: .45rem;
    height: 1.15rem;
    line-height: 1.15rem;
}

.swiper-header > .back {
	width: 1.15rem;
    height: 1.15rem;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100%;
    background:url('../images/backArrow.png') 50% 50% / 60% no-repeat;
}